<div class="list-notes">
  <h1>Mis notas</h1>
  <div class="note">
    <ul>
      <% @notes.each do |note| %>
        <li>
          <h3><%= link_to "#{note.title}", note.link, target: '_blank' %></h3>
          <div class="note-actions">
            <span><%= link_to 'Edit', edit_note_path(note) %></span>
            <span><%= link_to 'Destroy', note, method: :delete, data: { confirm: '¿Estas seguro de querer eliminar tu nota?' } %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'New Note', new_note_path %>
