.navbar {
  padding: 15px 60px;
  justify-content: space-between;
  &-collapse {
    width: inherit !important;
    ul {
      margin-right: 0px !important;
      li {
        margin-right: 15px;
        a {
          color: rgba(255, 255, 255, 0.8) !important;
          &:hover {
            color: rgba(255, 255, 255, 1) !important;
          }
        }
      }
    }
    .dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      & > a {
        &:focus {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}